<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>855666215322-lg22rds69jgr3b9uj659j3hs0b73nmk1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855666215322-lg22rds69jgr3b9uj659j3hs0b73nmk1</string>
	<key>API_KEY</key>
	<string>AIzaSyBSF6kPnN4eruR50vGmrDAU5E1kpw7V2yU</string>
	<key>GCM_SENDER_ID</key>
	<string>855666215322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xpd54.Transference</string>
	<key>PROJECT_ID</key>
	<string>transference-xpd54</string>
	<key>STORAGE_BUCKET</key>
	<string>transference-xpd54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:855666215322:ios:2b9429ecaa8f4d4f</string>
	<key>DATABASE_URL</key>
	<string>https://transference-xpd54.firebaseio.com</string>
</dict>
</plist>
